<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit post</title>
  </head>
  <body>
    <h1>Edit post</h1>

    <form method="POST">
      <div class=>
        <label for="title">Title</label>
        <div >
          <input name="title" value="{{ post.title }}"/>
        </div>
      </div>

      <div>
        <label for="content">Post Content</label>
        <div>
          <textarea id="content" name="content">{{ post.content }}</textarea>
        </div>
      </div>


        {% for tag in tags %}
        <div>
          <input
                 type="checkbox"
                 value="{{ tag.id }}"
                 id="tag_{{ tag.id }}"
                 {% if tag in post.tags %}
                 checked
                 {% endif %}
                 name="tags">
          <label for="tag_{{ tag.id }}">
            {{ tag.name }}
          </label>
        </div>
        {% endfor %}
      
      <div>
          <a href="/{{ post.user_id }}">Cancel</a>
          <button type="submit">Edit</button>
      </div>
    </form>
  </body>
</html>
